<center><h1>War ZONE</h1></center>

<h2>Repositories</h2>
<ul>
    <li>
        Perso
        <ul>
            <li>
                Public
                <ul>
                    {% for repository in repositories if not repository.fork and not repository.private %}
                        <li>{{ repository.id }} - <a href="{{ repository.url }}" target="_blank">{{ repository.name }}</a> ({{ repository.description }}) - <b>{{ repository.language }}</b></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                Private
                <ul>
                    {% for repository in repositories if not repository.fork and repository.private %}
                        <li>{{ repository.id }} - <a href="{{ repository.url }}" target="_blank">{{ repository.name }}</a> ({{ repository.description }}) - <b>{{ repository.language }}</b></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Forks
        <ul>
            <li>
                Public
                <ul>
                    {% for repository in repositories if repository.fork and not repository.private %}
                        <li>{{ repository.id }} - <a href="{{ repository.url }}" target="_blank">{{ repository.name }}</a> ({{ repository.description }}) - <b>{{ repository.language }}</b></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                Private
                <ul>
                    {% for repository in repositories if repository.fork and repository.private %}
                        <li>{{ repository.id }} - <a href="{{ repository.url }}" target="_blank">{{ repository.name }}</a> ({{ repository.description }}) - <b>{{ repository.language }}</b></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
</ul>
